/* carousel start */
.carousel-item img {
    filter: brightness(50%);
}

.carousel-caption {
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h5 {
    font-size: 70px;
    font-weight: 700;
}

.carousel-caption p {
    font-size: 20px;
}

/* carousel end */
.btn {
    text-align: center;
}